:root {
   --light: #ffffff;
   --dark: #1a1b1b;
   --gray-100: #fafafa;
   --gray-200: #f2f2f8;
   --gray-300: #e5eaec;
   --gray-400: #acbcc2;
   --gray-500: #91a0a7;
   --gray-600: #6e7980;
   --accent: #b8e6fe;
   --accent-dark: #2b7fff;
   --accent-darker: #2a61b3;
   --red: #ffe2e2;
   --red-dark: #ff6467;

   --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

*:focus {
   outline: none;
}

*:focus-visible {
   outline: 2px solid var(--accent);
}

body {
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

.outer-container {
   min-height: 100dvh;
   padding: 2rem 1rem;
   background-color: var(--gray-300);

   @media screen and (min-width: 1280px) {
      padding: 4rem 8rem;
   }
}

.container {
   max-width: 60rem;
   width: 100%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   background-color: var(--light);
   border-radius: 1rem;
   box-shadow: var(--shadow-lg);
   overflow: hidden;
}

.container+.container {
   margin-top: 1rem;

   @media screen and (min-width: 1280px) {
      margin-top: 2rem;
   }
}

#header {
   padding: 1rem 1.5rem;
   border-bottom: 1px solid var(--gray-300);
   display: flex;
   flex-direction: column;
   align-items: stretch;
   gap: 1rem;
   border-top: 12px solid var(--accent-dark);

   @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 3rem;
      gap: 3rem;
   }
}

#header h1 {
   font-weight: 500;
   font-size: 1.5rem;

   @media screen and (min-width: 1280px) {
      font-size: 2.5rem;
   }
}

#header p {
   font-weight: 400;
   font-size: 1rem;
   line-height: 1.375;
   color: var(--gray-600);
   margin-top: 0.5rem;

   @media screen and (min-width: 1280px) {
      font-size: 1.125rem;
   }
}

form {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   padding: 1.5rem;
   gap: 1.5rem;

   @media screen and (min-width: 480px) {
      align-items: flex-end;
   }

   @media screen and (min-width: 1280px) {
      padding: 2rem 3rem;
      gap: 2rem;
   }
}

form .form-row {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   gap: 1.5rem;

   @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
   }
}

form .form-row .form-input-container {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   gap: 0.5rem;
}

form .form-row .form-input-container label {
   width: 100%;
   display: inline-block;
}

form .form-row .form-input-container label sup {
   color: #f00;
}

form .form-row .form-input-container :is(input[type="text"], input[type="url"]) {
   width: 100%;
   min-width: 0;
   appearance: none;
   border: 1px solid var(--gray-300);
   background-color: var(--gray-100);
   padding: 0.75rem 1rem;
   border-radius: 0.5rem;
   font-size: 18px;
}

form .form-row .form-input-container input.invalid {
   border: 1px solid var(--red-dark);
   background-color: var(--red);
}

form .form-row .form-input-container input.invalid+.error {
   display: inline-block;
   visibility: visible;
}

form .form-row .form-input-container :is(input[type="text"], input[type="url"])::placeholder {
   color: var(--gray-600);
}

.btn {
   appearance: none;
   border: 1px solid transparent;
   background-color: var(--accent-dark);
   color: var(--light);
   padding: 0.75rem 1rem;
   border-radius: 0.5rem;
   cursor: pointer;
   font-size: 18px;
   transition: background-color 0.2s ease-in;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   text-decoration: none;
}

.btn svg {
   flex-shrink: 0;
   width: 1.5rem;
   height: 1.5rem;
}

.btn:hover {
   background-color: var(--accent-darker);
}

form .form-row .form-input-container .error {
   display: none;
   visibility: hidden;
   color: #f00;
   font-weight: 400;
   font-size: 14px;
}

table {
   width: 100%;
   background-color: var(--light);
   border-spacing: 0;
}

table thead {
   width: 100%;
   background-color: var(--gray-100);
}

table thead th {
   font-weight: 500;
   font-size: 1.125rem;
}

table :is(th, td) {
   width: 100%;
   padding: 1rem 1.4rem;
   border-right: 1px solid var(--gray-300);
   font-weight: 400;
   text-align: left;

   @media screen and (min-width: 1280px) {
      padding: 1rem 3rem;
   }
}

table thead :is(th, td):last-child {
   border-right: none;
}

table tbody {
   background-color: var(--light);
}

table #no-bookmarks td {
   font-weight: 400;
   text-align: center;
   font-style: italic;
   font-size: 20px;
   color: var(--gray-600);
   padding: 4rem 2rem;
}

table tbody td {
   border-top: 1px solid var(--gray-300);
}

table :is(th, td):first-child {
   width: 33%;
}

table tbody td a {
   color: var(--accent-dark);
   text-decoration: none;
   word-break: break-all;
}

table tbody td a:hover {
   text-decoration: underline;
}

table tbody tr:nth-child(even) {
   background-color: var(--gray-100);
}

table tbody td .actions {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.5rem;

   @media screen and (min-width: 1280px) {
      gap: 1rem;
   }
}

table tbody td .actions button {
   background-color: var(--gray-200);
   width: 2rem;
   height: 2rem;
   border: none;
   cursor: pointer;
   border-radius: 0.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.2s ease;

   @media screen and (min-width: 1280px) {
      width: 2.5rem;
      height: 2.5rem;
   }
}

table tbody td .actions .delete-btn:hover {
   background-color: var(--red-dark);
   color: var(--light);
}

table tbody td .actions .edit-btn:hover {
   background-color: var(--accent-dark);
   color: var(--light);
}

table tbody td .actions button svg {
   width: 1rem;
   height: 1rem;

   @media screen and (min-width: 1280px) {
      width: 1.25rem;
      height: 1.25rem;
   }
}

#edit-modal {
   display: none;
   visibility: hidden;
   position: fixed;
   inset: 0;
   width: 100%;
   height: 100%;
   display: grid;
   place-items: center;
   padding: 2rem 1rem;
   z-index: 1;
}

#edit-modal .backdrop {
   background-color: rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(12px);
   position: fixed;
   inset: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
}

#edit-modal .container {
   position: relative;
   z-index: 1;
}